on property:persist.sys.haptic_profile=default
    setprop persist.vendor.haptic_profile default

on property:persist.sys.haptic_profile=soft
    setprop persist.vendor.haptic_profile soft

on property:persist.sys.haptic_profile=richtap
    setprop persist.vendor.haptic_profile richtap

on property:persist.sys.haptic_profile=crisp
    setprop persist.vendor.haptic_profile crisp

on property:persist.sys.haptic_profile=gentle
    setprop persist.vendor.haptic_profile gentle

on property:persist.sys.haptic_profile=op13crisp
    setprop persist.vendor.haptic_profile op13crisp

on property:persist.sys.haptic_profile=op13gentle
    setprop persist.vendor.haptic_profile op13gentle
